<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Modifier mon Profil</h4>
                    </div>
                    <div class="content">
                        <div class="alert alert-danger" *ngIf='error'>
                            <span>{{ error }}</span>
                        </div>
                        <div class="alert alert-success" *ngIf='success'>
                            <span>{{ success }}</span>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Langue</label>
                                    <select [(ngModel)]="user.language" type="text" class="form-control">
                                        <option value="fr">Français</option>
                                        <option value="en">Anglais</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.email">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Sexe</label>
                                    <select [(ngModel)]="user.gender" class="form-control">
                                        <option value="femme">Femme</option>
                                        <option value="homme">Homme</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Prénom</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.firstname">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Nom</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.lastname">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Date de naissance</label>
                                    <angular2-date-picker [(ngModel)]="user.birthday" [settings]="{ bigBanner: false, timePicker: false, format: 'yyyy-MM-dd' }"></angular2-date-picker>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Mobile</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.mobile">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Téléphone</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.phone">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Pays</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.country">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Région</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.region">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Ville</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.city">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Code postal</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.zipcode">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Adresse</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.address">
                                </div>
                            </div>
                        </div>

                        <button (click)="update()" type="submit" class="btn btn-info btn-fill pull-right">Modifier</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..." />
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/default-avatar.png" alt="..." />

                                <h4 class="title">{{user.firstname}} {{user.lastname}}
                                    <br />
                                    <small>{{user.email}}</small>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center">
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button href="#" class="btn btn-simple">
                            <i class="fa fa-facebook-square"></i>
                        </button>
                        <button href="#" class="btn btn-simple">
                            <i class="fa fa-twitter"></i>
                        </button>
                        <button href="#" class="btn btn-simple">
                            <i class="fa fa-google-plus-square"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>