<div class="main-content">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-6">
                <lbd-chart
                  [title]="'Tailles / temps'"
                  [subtitle]="'Historique de taille en fonction du temps'"
                  [chartType]="tailleChartType"
                  [chartData]="tailleChartData"
                  [chartOptions]="tailleChartOptions"
                  [chartResponsive]="tailleChartResponsive"
                  [legendItems]="tailleChartLegendItems"
                  [withHr]="true"
                  >
                </lbd-chart>
            </div>

            <div class="col-md-6">
                <lbd-chart
                  [title]="'Poids / temps'"
                  [subtitle]="'Historique de poids en fonction du temps'"
                  [chartType]="poidsChartType"
                  [chartData]="poidsChartData"
                  [chartOptions]="poidsChartOptions"
                  [chartResponsive]="poidsChartResponsive"
                  [legendItems]="poidsChartLegendItems"
                  [withHr]="true"
                  >
                </lbd-chart>
            </div>
        </div>
    </div>
</div>
